.formInput {
    border: 0.3px solid #DFDFDF;
    border-radius: 8px;
    padding: 0px 16px
}
.formInput:focus{
    outline: none;
    border: 0.3px solid #DFDFDF;
}

.labelTextContainer {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
    text-align: left;
    margin-bottom: 16px;
}

.formTextarea {
    padding-top: 7px;
}