.contained {
    background: #3DA2EA;
    border: 1px solid #3DA2EA;
    border-radius: 12px;
    width: 157.58px;
    height: 33.22px;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}